body{ 
    padding: 0;
    background: #f8f8f8;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:#154188;
    width: 100%;
}

.headerContainer h1{ 
    font-size: 40px;
    font-weight: bold;
    margin: 12px 0px;
    color: #dedede;
}

.headerContainer h2{ 
    font-size: 60px;
    font-weight: bold;    
    margin: 12px 0px;
    color: #dedede;
}

.headerContainer a{
    background:#285692;
    box-shadow: 0px 0px 8px #00000026;
    color: white;
    padding: 12px 32px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    width: 94px;
    text-align: center;
}

.userInfo { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: solid thin #dedede;
}

.userInfo img { 
    margin: 18px 0px;
}

.userInfo .buttonsContainer{
    margin-top: 20px;
}

.buttonsContainer a{ 
    text-decoration: none;
    margin: 0px 30px;
    font-size: 20px;
}

.buttonsContainer .clear{ 
    font-size: 20px;
    color: #154188;
}
.buttonsContainer .save{ 
    font-size: 20px;
    background-color: #154188;
    color: white;
    padding: 6px;
    border-radius: 4px;
}


input { 
    width: 300px;
    margin: 6px 0px;
    border: 0;
    outline: none;
    font-weight: bold;
    padding: 16px 12px;
    border-radius: 4px;
    box-shadow: 0px 0px 6px #00000024;
}

input::placeholder{ 
    color: #154188;
}
